{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Créer un nouvel article{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Créer un nouvel article</h1>
            
          </div>

          

             <a href="/panel/boutique">Boutique</a> >>
             <a href="/panel/boutique/articles">Articles</a> >>
             <a href="/panel/boutique/addarticle">Créer un nouvel article</a>
             <hr>

              <form action="{% url "boutique_addArticle" %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn btn-success" type="submit" value="Créer un nouvel article" />
              </form>
             
          
        </main>

       {% endblock %}