{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Adresses{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des adresses</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="/panel/customers">Clients</a> >>
             <a href="addresses">Adresses</a>
             <hr>
             <a class="btn btn-primary" href="/panel/boutique/addaddress" role="button">Créer une nouvelle adresse</a>
             <br/> <br/>

              <div id="addresses">
             <input class="search form-control" placeholder="Rechercher une adresse...(par numéro de commande)" />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Client</th>
                     <th scope="col">Prénom</th>
                     <th scope="col">Nom</th>
                     <th scope="col">Ville</th>
                     <th scope="col">Code postal</th>
                     <th scope="col">Numéro et nom de rue</th>
                     <th scope="col">Actions</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for adress in adresses %}
                      <tr>
                        <th scope="row">{{ address.id }}</th>
                        <td class="customer">{{ address.customer }}</td>
                        <td class="first_name">{{ address.first_name }}</td>
                        <td class="last_name">{{ address.last_name }}</td>
                        <td class="city">{{ address.city }}</td>
                        <td class="zip_code">{{ address.zip_code }}</td>
                        <td class="mailing_address">{{ address.mailing_address }}</td>
                        <td><a class="btn btn-primary" href="{% url 'boutique_printAddress' address.id %}" role="button">Consulter</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>                
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'customer', 'first_name', 'last_name', 'zip_code', 'mailing_address', 'city' ]
          };

          var userList = new List('addresses', options);
        </script>

       {% endblock %}