{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Articles{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des articles</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="articles">Articles</a>
             <hr>
             <a class="btn btn-primary" href="/panel/boutique/addarticle" role="button">Créer un nouvel article</a>
             <br/> <br/>

              <div id="articles">
             <input class="search form-control" placeholder="Rechercher un article...(par nom, fournisseur ou référence)" />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Nom</th>
                     <th scope="col">Reference</th>
                     <th scope="col">Fournisseur</th>
                     <th scope="col">Actions</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for article in articles %}
                      <tr>
                        <th scope="row">{{ article.id }}</th>
                        <td class="name">{{ article.name }}</td>
                        <td class="reference">{{ article.reference }}</td>
                        <td class="supplier">{{ article.supplier }}</td>
                        <td><a class="btn btn-primary" href="{% url 'boutique_printArticle' article.id %}" role="button">Consulter</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>                
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'name', 'supplier', 'reference' ]
          };

          var userList = new List('articles', options);
        </script>

       {% endblock %}