{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Boutique{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion de la boutique</h1>

          </div>

             
             <a href="boutique">Boutique</a>

             <hr>

          <h4>Général</h4>
          <a href="boutique/articles">Gestion des articles</a> - Ajouter, modifier, rechercher un article...<br/>
          <a href="boutique/taxes">Gestion des taxes</a> - Ajouter, modifier, rechercher une taxe...<br/>
          <a href="boutique/marques">Gestion des marques</a> - Ajouter, modifier, rechercher une marque...<br/><br/>

          
          <h4>Clients</h4> 
          <a href="boutique/clients">Gestion des clients</a> - Ajouter, modifier, rechercher un client...<br/>
          <a href="boutique/addresses">Gestion des adresses</a> - Ajouter, modifier, rechercher une adresse...<br/>
          <a href="boutique/customergroups">Gestion des groupes clients</a> - Ajouter, modifier, rechercher un groupe client...<br/>
          <a href="boutique/orders">Gestion des commandes client</a> - Ajouter, modifier, rechercher une commande client...<br/>
          <a href="boutique/carts">Gestion des paniers</a> - Ajouter, modifier, rechercher un panier...<br/><br/>


          <h4>Fournisseurs</h4>
          <a href="boutique/suppliers">Gestion des fournisseurs</a> - Ajouter, modifier, rechercher un fournisseur...<br/>
          <a href="boutique/commandesfou">Gestion des commandes fournisseur</a> - Ajouter, modifier, rechercher une commande fournisseur...<br/><br/>

          


        </main>

       {% endblock %}