{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Paniers{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des paniers</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="carts">Paniers</a>
             <hr>
             <br/> <br/>

              <div id="carts">
             <input class="search form-control" placeholder="Rechercher un panier..." />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Client</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for cart in carts %}
                      <tr>
                        <th scope="row">{{ cart.id }}</th>
                        <td class="name">{{ cart.name }}</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>                
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'name']
          };

          var userList = new List('carts', options);
        </script>

       {% endblock %}