{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Clients{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des clients</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="/panel/boutique/clients">Clients</a>
             <hr>
             

             <a class="btn btn-primary" href="/panel/boutique/addclient" role="button">Créer un nouveau client</a>
             <br/>
             <br/>

              <div id="customers">
             <input class="search form-control" placeholder="Rechercher un client..." />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Nom Prénom</th>
                     <th scope="col">Email</th>
                     <th scope="col">Groupes</th>
                     <th scope="col">Actions</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for customer in customers %}
                      <tr>
                        <th scope="row">{{ customer.id }}</th>
                        <td class="name">{{ customer.last_name }} {{ customer.first_name }}</td>
                        <td class="email">{{ customer.email }}</td>
                        <td>{% for group in customer.groups.all %} {{ group }} {% endfor %}</td>
                        <td><a class="btn btn-primary" href="{% url 'boutique_viewClient' customer.id %}" role="button">Consulter</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>              
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'name', 'email' ]
          };

          var userList = new List('customers', options);
        </script>

       {% endblock %}
