{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Groupes{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des groupes</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="/panel/boutique/customergroups">Groupes</a>
             <hr>
             

             <a class="btn btn-primary" href="/panel/boutique/addcustomergroup" role="button">Créer un nouveau groupe client</a>
             <br/>
             <br/>

              <div id="groups">
             <input class="search form-control" placeholder="Rechercher un groupe client..." />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Nom du groupe</th>
                     <th scope="col">Montant de la réduction</th>
                     <th scope="col">Actions</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for customergroup in customergroups %}
                      <tr>
                        <th scope="row">{{ customergroup.id }}</th>
                        <td class="name">{{ customergroup.name }}</td>
                        <td class="reduction">{{ customergroup.reduction }}</td>
                        <td><a class="btn btn-primary" href="{% url 'boutique_printCustomerGroup' customergroup.id %}" role="button">Consulter</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>              
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'name' ]
          };

          var userList = new List('groups', options);
        </script>

       {% endblock %}
