{% load static %}

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Fripon - Login</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'panel/css/login.css' %}">
    <!-- Custom styles for this template -->
  </head>

  <body class="text-center">

{% if user.is_authenticated %}

Vous êtes connecté, {{ user.username }} !

{% else %}
    <form method="post" class="form-signin">
      <img class="mb-4" src="{% static 'panel/img/logo.png' %}" alt="" >
		{% if error %}

			<p><strong>Erreur lors de l'identification</strong></p>

		{% endif %}
      
		{{ form.as_p }}
      <input type="submit" value="Se connecter" />
      {% csrf_token %}
    </form>
{% endif %}
  </body>
</html>
