{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Commandes{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Gestion des commandes</h1>
            
          </div>

             <a href="/panel/boutique">Boutique</a> >>
             <a href="orders">Commandes</a>
             <hr>
             <a class="btn btn-primary" href="/panel/boutique/addorder" role="button">Créer une nouvelle commande</a>
             <br/> <br/>

              <div id="orders">
             <input class="search form-control" placeholder="Rechercher une commande...(par numéro de commande)" />
                  <br/>
                  <br/>
                <table class="table table-striped">
                  <thead class="thead-dark">
                    <tr>
                     <th scope="col">ID</th>
                     <th scope="col">Client</th>
                     <th scope="col">Référence</th>
                     <th scope="col">Actions</th>
                    <tr>
                  </thead>

                  <tbody class="list">
                    {% for order in orders %}
                      <tr>
                        <th scope="row">{{ order.id }}</th>
                        <td class="name">{{ order.customer }}</td>
                        <td class="reference">{{ order.reference }}</td>
                        <td><a class="btn btn-primary" href="{% url 'boutique_printOrder' order.id %}" role="button">Consulter</td>
                      </tr>
                    {% empty %}
                    {% endfor %} 
                  </tbody>
                </table>
              </div>                
          
        </main>

        <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>        
        <script>
          var options = {
            valueNames: [ 'reference' ]
          };

          var userList = new List('orders', options);
        </script>

       {% endblock %}