{% extends "panel/layout_admin.html" %}

{% block title %}Fripon - Fournisseur{% endblock %}

       {% block main%} 

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Fournisseur : {{ supplier.name }}</h1>
            
          </div>

          

             <a href="/panel/boutique">Boutique</a> >>
             <a href="/panel/boutique/suppliers">Fournisseurs</a> >>
             <a href="{{ supplier.id }}">{{ supplier.name }}</a>
             <hr>
 
              <form action="{% url "boutique_printSupplier" id=supplier.id %}" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn btn-success" type="submit" value="Valider les modifications" />
              </form> <br/><br/>

              <form action="{% url "boutique_delSupplier" id=supplier.id %}" method="DELETE">
                  {% csrf_token %}
                  <input class="btn btn-danger" type="submit" onclick="return confirm('Cette action est irréversible. Voulez-vous vraiment supprimer le fournisseur {{ supplier.name }} ?')" value="Supprimer ce fournisseur" />
              </form>
             
          
        </main>

       {% endblock %}